.main-content {
    padding-top:30px;
    max-width:500px;
    padding-bottom:30px;
}
.page-header {
    background:#f6f6f6;
    padding: 20px 0px 30px 0px;
    margin: 0 -15px 0px -15px;
}
.col-xs-4 {
    display:inline-block;
    position:relative;
    margin-bottom:0px;
}
.dummy {
    margin-top:100%;
}
row {
    padding-top:0px;
    margin-bottom:0px;
}
.btn-default {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    font-size:40px;
}